/* Tu CSS va aqui */

*{
    outline: 1px solid yelow;
}
body{
    background-color: #f4f0bb;
    color: #da2c38;
    font-family: Comic Sans MS;
}
/*----------HEADER----------*/
header{
    background-color: #da2c38;
}
nav.navbar{
    margin-bottom: 0;
}
header button i{
    background: darkgray;
}
header a{
    color: #f4f0bb;
}
/*--------HERO-----*/
.hero{
    background-image: url(../img/creamy.jpg);
    background-size: cover;
    background-position: left;
}
.hero .titulo{
    margin: 150px auto;
    color: #f4f0bb;
}
.hero .opacity{
    background-color: rgba(0, 0, 0, 0.64)
}
/*--------CREAMY--------------------*/
.creamy{
    margin: 25px 0;
}
/*-------ABOUT CREAMY------------*/
.about-creamy{
    background-color: #da2c38;
    color: #f4f0bb;
    padding: 20px 0;
}
/*-------ICONOS--------*/
.iconos{
    margin: 20px 0;
}
.iconos i{
    font-size: 70px;
}
/*------FOOTER-----------*/
footer{
    background-color: #da2c38;
}
footer p{
    margin: 20px auto;
    color: #f4f0bb;
}

/*   RESPONSIVE  */
@media screen and (max-width: 768px){
    footer p{
        text-align: center;
    }
}